.ingredientCategory {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    flex-wrap: wrap;
}

.ingredientCategoryHeader {
    width: 100%;
}

.ingredientCategoryCards {
    margin: 24px 8px 0 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
